name: Re-deploy image to kubernetes

on:
  repository_dispatch:

    # inputs:
    #   deployment_name: 
    #     required: true
    #     type: string
    #   image_name:
    #     required: true
    #     type: string        
    #   image_tag:
    #     required: true
    #     type: string        
    # secrets:
    #   portal_username:
    #     required: true
    #   portal_password:
    #     required: true

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: test-step
        run: |
          echo "hello world"
