name: Re-deploy image to kubernetes

on:
  workflow_dispatch:
  
jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Azure CLI
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

      - name: Login to Azure
        run: |
          az login --service-principal -u ${{ secrets.AZURE_CLIENT_ID }} -p ${{ secrets.AZURE_CLIENT_SECRETS }} --tenant ${{ secrets.AZURE_TENANT_ID }}

      - name: Merge the cluster to the current config
        run: |
          az aks get-credentials --resource-group AKS-Cluster-ssa_group --name AKS-Cluster-ssa

      - name: Turn on the cluster
        run: | 
          az aks start -g AKS-Cluster-ssa_group -n AKS-Cluster-ssa

      - name: Get deployments
        run: |
          kubectl get deployments --no-headers

      - name: Update frontend deployment
        shell: bash
        run: |
          kubectl delete deployment frontend-website-mr --force
          kubectl apply -f kubernetes/dev/deployments/frontend-website-mr-deploy.yaml
          


      - name: Shut down the cluster
        run: | 
          az aks stop -g AKS-Cluster-ssa_group -n AKS-Cluster-ssa